@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'IranSans';
    src: url('../public/fonts/Sans.woff') format('woff');
  }
}

@layer base {
  section {
    @apply py-20;
  }

  svg {
    width: 100%;
    aspect-ratio: 1/1;
    fill: currentColor;
  }

  html {
    font-size: 100%;

    @media (max-width: 1024px) {
      font-size: 90%;
    }
  }

  * {
    scroll-behavior: smooth;
  }
}

@layer components {
  /* typography */
  .heading-primary {
    @apply text-6xl  font-semibold mb-2.5;
  }

  .heading-secondary {
    @apply text-2xl;
  }

  .heading-tertairy {
    @apply text-xl font-semibold;
  }

  .paragraph {
    @apply text-black/80;
  }

  /* title */

  .title {
    position: relative;
    padding-right: 1rem;
  }

  .title::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    @apply bg-primary;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  /* progress bar */

  .progress {
    position: relative;
    background-color: #000;
    height: 100%;
    width: 0;
    transition: width 0.2s ease-in-out;
  }

  /* section title */

  .sec-title {
    @apply text-4xl font-semibold relative pb-4;
  }
  .sec-title::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    @apply bg-primary;
    right: 0;
    bottom: 0;
  }

  /* form */

  .text-input {
    @apply w-full border border-tertiary rounded-xl py-2.5 px-3 placeholder:text-sm outline-primary-2;
  }

  .submit {
    @apply bg-primary text-white rounded-xl px-[35px] py-[15px] w-full border-2 border-primary transition-all cursor-pointer duration-200;
  }

  .submit:hover {
    @apply bg-white text-primary;
  }
}
